/* Error: Undefined mixin.
 *    ,
 * 23 |   @include flex-center;
 *    |   ^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src\scss\layout\_footer.scss 23:3  @forward
 *   src\scss\layout\_index.scss 3:1    @forward
 *   src\scss\_design-system.scss 3:1   @use
 *   src\scss\main.scss 1:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 23 \2502    @include flex-center;\a    \2502    ^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\scss\\layout\\_footer.scss 23:3  @forward\a   src\\scss\\layout\\_index.scss 3:1    @forward\a   src\\scss\\_design-system.scss 3:1   @use\a   src\\scss\\main.scss 1:1             root stylesheet";
}
