// _breakpoints.scss

$breakpoints: (
  "mobile-small-max": 479px,
  "mobile-medium-min": 480px,
  "mobile-large-min": 600px,
  "tablet-portrait-min": 768px,
  "tablet-landscape-min": 1025px,
  "desktop-standard-min": 1280px,
  "desktop-2k-min": 1440px,
  "desktop-4k-min": 1920px
);

/*
Para acceder a un elemento del map 
se llama al modulo con @use "sass:map";

@use "sass:map";

$mapa: (
  "primario": red, 
  "secundario": blue
);

.color {
  color: map.get($mapa, "primario"); 
  //Resultado: red
}
*/