  <!-- Cuando estas logueado, el boton que dice register debe mostrar tu nombre abajo -->
  <!-- Al presionarlo debe enviarte al detalle del Usuario -->
  <a href="/img/users/default.jpg" title="Ir a Datos Personales">
    <span>Hola user</span>
    <i class="fa-solid fa-user"></i>
  </a>
  <!-- Cuando estas logueado, el boton de login ahora debe ser el boton de logout -->
  <a href="/users/logout" title="Iniciar sesion">
    <span>Desloguearse</span>
    <i class="fa-solid fa-right-from-bracket"></i>
  </a>