  <!-- Menu de usuarios Sin Loguear-->
  <a class="userBar__link userBar__link--register" href="/users/register#main" title="Registrate">
    <span>Registrate</span>
    <i class="fa-solid fa-user userBar__icon userBar__icon--register"></i>
  </a>
  <a class="userBar__link userBar__link--login" href="/users/login#main" title="Iniciar sesion">
    <span>Logueate</span>
    <i class="fa-solid fa-right-to-bracket userBar__icon userBar__icon--login"></i>
  </a>