<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Datos -->
  <%- include ('./partials/meta.ejs')%>

    <!-- Estilos -->
    <%- include ('./partials/main.css.ejs')%>



      <title>Document</title>
</head>

<body>
  <!-- ----------------- -->
  <!--      HEADER       -->
  <!-- ----------------- -->
  <header>


    <!-- Logo pagina SVG -->
    <div class="svg-container-header">
      <img src="/img/electroTools/svg/LogoAmarillo.svg" alt="">
    </div>

    <!-- Boton hamburgueza -->
    <div class="burger">

      <input type="checkbox" id="toggle">
      <label for="toggle" title="Menu Desplegable"><i class="fa-solid fa-bars"></i></label>

      <div class="menus">

        <nav class="userBar">

          <!-- Menu de usuarios Sin Loguear-->
          <% if (false) { %>

            <!-- Si logueado muestra - Menu de Usuario -->
            <a href="/img/users/default.jpg" title="Ir a Datos Personales">
              <span>Hola user</span>
              <i class="fa-solid fa-user"></i>
            </a>
            <!-- El boton de login ahora debe ser el boton de logout -->
            <a href="/users/logout" title="Iniciar sesion">
              <span>Desloguearse</span>
              <i class="fa-solid fa-right-from-bracket"></i>
            </a>

            <% } else { %>
              <!-- Si no Logueado - Menu de Login-->
              <a href="/users/register#main" title="Registrate">
                <span>Registrate</span>
                <i class="fa-solid fa-user"></i>
              </a>
              <a href="/users/login#main" title="Iniciar sesion">
                <span>Logueate</span>
                <i class="fa-solid fa-right-to-bracket"></i>
              </a>
              <% } %>
        </nav>

        <!-- Menu de busqueda -->
        <form class="searchBar" method="get" action="">
          <input type="text" name="searchBar" placeholder="¿Que estas buscando?">
          <button type="submit">Buscar</button>
        </form>

        <!-- Menu de navegacion -->
        <nav class="navBar">
          <ul type="none">
            <li><a href="/#cajaherramientas">Herramientas</a></li>
            <li><a href="/products">Productos</a></li>
            <li><a href="/#ofertas">OFERTAS</a></li>
            <li><a href="/#novedades">Novedades</a></li>
            <li><a href="/#institucional">Institucional</a></li>
            <li><a href="/#contacto">Contactanos</a></li>
          </ul>
        </nav>
      </div>

    </div>

    <!-- boton flotante carrito -->
    <div class="cart">
      <a href="/products/cart" title="Tu carrito"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>

  </header>

  <!-- ----------------- -->
  <!--       MAIN        -->
  <!-- ----------------- -->
  <main>

  </main>

  <!-- ----------------- -->
  <!--      FOOTER       -->
  <!-- ----------------- -->
  <footer>

    <!-- Pie de Pagina -->
    <section class="main-footer">

      <!-- Identidad -->
      <article class="identidad">
        <a href="#" title="Ir a la pág. principal">
          <img class="logo" src="/img/electroTools/identidad/LogoAmarillo-LetrasBlancas-FondoTransparente.png"
            alt="logo ElectroTools">
        </a>
        <div class="redesSociales">
          <a href="#" title="Siguenos en Instagram!"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" title="Siguenos en Facebook!"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" title="Siguenos en Youtube!"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </article>

      <!-- Medios de Contacto -->
      <article class="contacto" id="contacto">
        <h4>Atención al Cliente</h4>

        <div class="horario">
          <h5>Horario de Atención</h5>
          <p class="dias">Lunes - Jueves</p>
          <p class="horario">09:00 am a 19:00 pm</p>
        </div>

        <div class="email">
          <h5>Correo Electrónico</h5>
          <a href="mailto:atencion-clientes@electrotools.com" title="enviar mail">at.clientes@electrotools.com</a>
        </div>

        <div class="telefono">
          <h5>Teléfono</h5>
          <p>0810-555-1234</p>
        </div>
      </article>

      <!-- Institucional -->
      <article class="institucional" id="institucional">
        <h4>Institucional</h4>
        <ul>
          <li>Proveedores</li>
          <li>Política de Privacidad</li>
          <li>Acerca de ElectroTools</li>
          <li>Blog y Tutoriales</li>
          <li>Trabaja con Nosotros</li>
        </ul>
      </article>

    </section>

    <!-- Terceras Marcas -->
    <article class="marcas">
      <img src="/img/logos Empresas/herramientas/makita-logo.png" alt="logo makita"></img>
      <img src="/img/logos Empresas/herramientas/dewalt-logo.png" alt="logo dewalt"></img>
      <img src="/img/logos Empresas/herramientas/stanley-logo.png" alt="logo stanley"></img>
      <img src="/img/logos Empresas/herramientas/black+decker-logo.png" alt="black+decker-logo"></img>
    </article>

    <a href="#" class="copyright" title="Ir al sitio web del Team Dinamita Arg">By Dante Delprato</a>

  </footer>

</body>

</html>