@use '../design-system' as ds;
@use "sass:map";

/* ----------------- */
/*      FOOTER       */
/* ----------------- */

.footer {
  background-color: var(--color-secundario);
  color: var(--color-texto-principal);
  text-align: center;
}

.footer__identidad {
  padding-top: var(--space-fluid-sm);
}

.identidad__link{
  @include ds.z-position-base;
}

.identidad__logo {
  justify-self: center;
  width: var(--logo-width-md);
  height: auto;
  margin-bottom:-2rem;
}

.identidad__redes-sociales {
  @include ds.flex-center;
}

.identidad__redes-sociales-link {
  @include ds.pill-button;
  //font-size:1rem;
}

// Medios de Contacto

.footer__contacto {
  text-align: center;
  line-height: var(--line-hg);
}

.contacto__title {
  font-size: var(--font-size-title-md);
  color: var(--color-primario);
}

.horario__title {
  font-size: var(--font-size-title-sm);
}

.horario__dias {
  font-size: var(--font-size-sm);
}
.horario__hora {
  font-size: var(--font-size-sm);
}


.email__link {
  text-decoration: none;
  color: var(--color-texto-principal);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--color-primario); 
  }
}

.telefono__title {
  font-size: var(--font-size-title-sm);
}

.telefono__numero {
  font-size: var(--font-size-lg);
  font-weight: 600;
}


/* Institucional */
.footer__institucional{
  padding: var(--space-fluid-md) var(--space-fluid-sm);
}

.institucional__title {
  font-size: var(--font-size-title-md);
  color: var(--color-primario);
}


/* Terceras Marcas */
.footer__marcas {
  @include ds.flex-center;
  justify-content: space-around;
  padding: var(--space-fluid-md) var(--space-fluid-sm);
  padding-top: 0;
}

.marcas__logo {
  width: var(--logo-width-sm)
}


.footer__copyright {
  color: var(--color-primario);
  text-decoration: none;
  font-size: var(--font-size-sm);
}

/* ----------------- */
/*   MEDIA QUERIES   */
/* ----------------- */


@media (min-width: #{map.get(ds.$breakpoints, "mobile-large-min")}) { 
  //desde 600px 
  }


@media (min-width: #{map.get(ds.$breakpoints, "tablet-portrait-min")}) {
  //desde 768px

  .footer__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer__identidad{
    width: 25%;
    align-self: center;
  }

  .footer__contacto{
    width: 25%;
    align-self: center;
  }

  .footer__institucional{
    width: 25%;
    align-self: center;

  }

  .footer__marcas{
    padding: var(--space-fluid-md) var(--space-fluid-sm);
    margin: var(--space-fluid-lg) var(--space-fluid-sm);
  }

}

@media (min-width:var(--breakpoint-mobile-large-min)) {
  //desde 1025px
  }

@media (min-width:var(--breakpoint-desktop-standard-min)) {
  //desde 1280px
}
