<footer class="footer">
  <!-- Pie de Pagina -->
  <section class="footer__main">

    <!-- Identidad -->
    <article class="footer__identidad identidad">
      <a class="identidad__link" href="#" title="Ir a la pág. principal">
        <img class="identidad__logo" src="/img/electroTools/identidad/LogoAmarillo-LetrasBlancas-FondoTransparente.png" alt="logo ElectroTools">
      </a>
      <div class="identidad__redes-sociales">
        <a class="identidad__redes-sociales-link" href="#" title="Siguenos en Instagram!"><i class="fa-brands fa-instagram"></i></a>
        <a class="identidad__redes-sociales-link" href="#" title="Siguenos en Facebook!"><i class="fa-brands fa-facebook-f"></i></a>
        <a class="identidad__redes-sociales-link" href="#" title="Siguenos en Youtube!"><i class="fa-brands fa-youtube"></i></a>
      </div>
    </article>

    <!-- Medios de Contacto -->
    <article class="footer__contacto" id="contacto">
      <h4 class="contacto__title">Atención al Cliente</h4>

      <div class="contacto__horario horario contacto">
        <h5 class="horario__title">Horario de Atención</h5>
        <p class="horario__dias">Lunes - Jueves</p>
        <p class="horario__hora">09:00 am a 19:00 pm</p>
      </div>

      <div class="contacto__email contacto email">
        <h5 class="email__title">Correo Electrónico</h5>
        <a class="email__link" href="mailto:atencion-clientes@electrotools.com" title="enviar mail">at.clientes@electrotools.com</a>
      </div>

      <div class="contacto__telefono contacto telefono">
        <h5 class="telefono__title">Teléfono</h5>
        <p class="telefono__numero">0810-555-1234</p>
      </div>
    </article>

    <!-- Institucional -->
    <article class="footer__institucional institucional" id="institucional">
      <h4 class="institucional__title">Institucional</h4>
      <ul class="institucional__lista">
        <li class="institucional__item">Proveedores</li>
        <li class="institucional__item">Política de Privacidad</li>
        <li class="institucional__item">Acerca de ElectroTools</li>
        <li class="institucional__item">Blog y Tutoriales</li>
        <li class="institucional__item">Trabaja con Nosotros</li>
      </ul>
    </article>

  </section>

  <!-- Terceras Marcas -->
  <article class="footer__marcas">
    <img class="marcas__logo" src="/img/logos Empresas/herramientas/makita-logo.png" alt="logo makita"></img>
    <img class="marcas__logo" src="/img/logos Empresas/herramientas/dewalt-logo.png" alt="logo dewalt"></img>
    <img class="marcas__logo" src="/img/logos Empresas/herramientas/stanley-logo.png" alt="logo stanley"></img>
    <img class="marcas__logo" src="/img/logos Empresas/herramientas/black+decker-logo.png" alt="black+decker-logo"></img>
  </article>

  <a class="footer__copyright" href="https://github.com/YoElDante/electrotools_2025" title="link al GitHub del Autor: Dante Delprato">By Dante Delprato</a>
</footer>